<!DOCTYPE html>
<html lang="en">
  <head>
    <title>File-Based CMS</title>
    <meta charset="utf-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1" /> -->
    <link rel="stylesheet" href="/stylesheets/cms.css" />
  </head>
  <body>
  <% if session[:message] %>
    <p class="flash_message"><%= session.delete(:message) %></p>
  <% end %>
  <main>
    <%= yield %>
  </main>
  </body>
</html>